%section#header
 %h1 Login
 %div= flash[:warning]

%section#content
 %h3= link_to 'Home', '/'
 = form_tag '/user/authenticate', :method => :post do 
  %ul
   %li
    = label :login, :username, 'Username: '
    = text_field :login, 'username'
   %li
    = label :login, :password, 'Password: '
    = password_field :login, 'password'
   %li
    = submit_tag 'Login'
