%h1 Login

%div= flash[:warning]

= form_tag '/user/verify', :method => :post do 
	%ul
		%li
			= label :login, :username, 'Username: '
			= text_field :login, 'username'
		%li
			= label :login, :password, 'Password: '
			= password_field :login, 'password'
	= submit_tag 'Login'
