%section#header
 %h1 Settings
 %div= flash[:notice]

%section#content
 %h3= link_to 'Home', '/'
 = form_tag "/user/#{session[:id]}/update_tags", :method => :post do 
  %ul.no-bullets
   %li Choose your tags for event filtering: 
   - @all_tags.each do |tag|
    = tag
    = check_box_tag "tags[#{tag}]", 1, @selected_tags.include?(tag), :id => "tags_#{tag}"
   %li
    = submit_tag 'Save', :id => 'tags_submit'
