%head
 = stylesheet_link_tag 'home.css'

%section#header
 %h1 Colgate Calendar
 
 %div#flash-info= flash[:info]
 
 %div#account
  - if @logged_in then
   %div= @username
   %div= link_to 'Logout', 'user/logout'
  - else
   %div= link_to 'Login', 'user/login'

%section#content
 %h2= link_to 'Today', 'events/today'
 %h2= link_to 'Tomorrow', 'events/tomorrow'
 %h2= link_to 'This Week', 'events/week'
 
