%section#header
 %h1 #{@event.title}

%section#content
 %h3= link_to 'Home', '/'
 %ul#info
  %li
   Description:
   = @event.description
  %li
   Start Time:
   = @event.start
  %li
   Finish Time:
   = @event.finish
  %li
   Location:
   = @event.location
  %li
   Contact:
   = @event.contact_name
   = @event.contact_phone

%tbody
 %th Rating:
 %th Textbox:
  
