%head
 = stylesheet_link_tag 'events.css'

%section#header
 %h1 #{@when}

 = will_paginate @events

%section#content
 %h3= link_to 'Home', '/'
 %ul#events
  - @events.each do |event|
   - vote_object = event.votes.find_by_voter_id(session[:id])
   - vote = vote_object != nil ? vote_object.vote : nil 
   %li.event
    %div.title= link_to event.title, event_path(event)
    %div.panel.left
     = link_to event_path(event) do
      %div.locale
       %span.label Where:
       %span.locale= event.location
      %div.locale
       %span.label When:
       %span.locale= event.start.nice_format + " to " + event.finish.nice_format
    %div.panel.right
     %div.voting
      - if session[:logged_in] and @when == "Past Events" then
       %div.votebox.up
        - if vote == true then
         %span.vote.yes.upvoted= link_to image_tag("arrow_up.png", class: "upimage"), event_unvote_path(:id => event.id)
        - else
         %span.vote.no.upvote= link_to image_tag("arrow_up.png", class: "upimage"), event_upvote_path(:id => event.id)
        - if session[:admin] == true then
         %span.vote_count= "+" + event.votes_for.to_s
       %div.votebox.down
        - if vote == false then
         %span.vote.yes.downvoted= link_to image_tag("arrow_down.png", class: "downimage"), event_unvote_path(:id => event.id)
        - else
         %span.vote.no.downvote= link_to image_tag("arrow_down.png", class: "downimage"), event_downvote_path(:id => event.id)
        - if session[:admin] == true then
         %span.vote_count= "-" + event.votes_against.to_s

