%head
 = stylesheet_link_tag 'events.css'

%section#header
 %h1 #{@when}

 = will_paginate @events

%section#content
 %h3= link_to 'Home', '/'
 %table#events
  %thead
   %tr
    %th Title 
    %th Location
    %th Start
    %th Finish
    - if session[:logged_in] then
     %th Vote
  %tbody
   - @events.each do |event_vote_tuple|
    - event, vote = event_vote_tuple.first, event_vote_tuple.second
    %tr
     %td= link_to "#{event.title}", event_path(event)
     %td= link_to "#{event.location}", event_path(event)
     %td= link_to "#{event.start.nice_format}", event_path(event)
     %td= link_to "#{event.finish.nice_format}", event_path(event)
     - if session[:logged_in] then
      %td
       - if vote == true then
        = link_to "upvoted", event_unvote_path(:id => event.id)
       - else
        = link_to "upvote", event_upvote_path(:id => event.id)
       = event_vote_tuple.third
       - if vote == false then
        = link_to "downvoted", event_unvote_path(:id => event.id)
       - else
        = link_to "downvote", event_downvote_path(:id => event.id)
       = event_vote_tuple.fourth

