%h1 #{@when}'s Events

%table#events
    %thead
        %tr
            %th Title 
            %th Location
            %th Start
            %th Finish
    %tbody
        - @events.each do |event|
            %tr
                %td= event.title 
                %td= event.location
                %td= event.start
                %td= event.finish
-# %td= link_to "More about #{movie.title}", movie_path(movie)

-# = link_to 'Add new movie', new_movie_path
