%head
 = stylesheet_link_tag 'event.css'

%section#header
 %h1 #{@event.title}

%section#content
 %h3= link_to 'Home', '/'
 %ul#info
  %li
   %div.label Description
   %div= @event.description
  %li
   %div.label Where
   %div= @event.location
  %li
   %div.label When
   %div
    %span.gray From
    %span= @event.start.nice_format
    %span.gray to
    %span= @event.finish.nice_format
  %li
   %div.label Contact
   %div
    %span= @event.contact_name
    %span.gray at
    %span= @event.contact_phone

