<h1>Listing eventlists</h1>

<table>
  <tr>
    <th>Info</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @eventlists.each do |eventlist| %>
  <tr>
    <td><%= eventlist.info %></td>
    <td><%= link_to 'Show', eventlist %></td>
    <td><%= link_to 'Edit', edit_eventlist_path(eventlist) %></td>
    <td><%= link_to 'Destroy', eventlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Eventlist', new_eventlist_path %>
